body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ag-column-hover {
  background-color: lightgreen;
}

h1 {
  text-align: center;
}

.ag-theme-alpine .ag-root-wrapper {
  margin-left: 60px;
}
